source https://api.nuget.org/v3/index.json

storage:none

group Server
  source https://api.nuget.org/v3/index.json

  nuget FSharp.Core
  nuget Suave 2.5.0
  nuget Fable.Remoting.Suave
  nuget LiteDB.FSharp

group Client
  source https://api.nuget.org/v3/index.json

  nuget Fable.Core
  nuget Fable.Elmish.Debugger
  nuget Fable.Elmish.React
  nuget Fable.Elmish.HMR
  nuget Fable.Remoting.Client

group Build
  framework >= net45
  source https://api.nuget.org/v3/index.json
  nuget FAKE ~> 4.64.6